body {
    width: 800px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc
}

div.synopsis {
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    -webkit-column-width: 180px;
    -moz-column-width:  180px;
    column-width: 180px;
}

.function dt {
    /* font-size: 1.25em; */
    font-weight: bold;
    padding: .5em 0;
}

.function dd {
    margin: 0 0 2em 0;
    padding: 0;
}

.function pre {
    background-color: #f0f0f0;
    padding: 1em;
}
